*.*
swiftpm
argocd

# misc
!.gitignore
!readme.md
phoenix/
iterm2/
configstore/
github-copilot/
simple-update-notifier/
yarn/

# fish
fish/fish_*
!fish/config.fish
!fish/fish_plugins
!fish/functions/*

# nushell
!nushell/config.nu
!nushell/env.nu

# starship
!starship.toml

# karabiner
!karabiner/karabiner.json

# raycast
raycast/

# zed
!zed/settings.json
!zed/keymap.json

# aerospace
!aerospace/aerospace.toml

# nvim
!nvim/**/*

# tmux
tmux/plugins
!tmux/tmux.conf

# bat
!bat/themes/*
